<script id="j-json-api-template" type="text/x-handlebars-template">
    <div class="row" style="display: flex; margin-bottom:50px;">
        <div class="col-12"><h6>OstJsonApi.{{methodName}}()</h6></div>
        <div class="col-md-6 col-sm-12">
            <div class="card" style="height:100%">
                <div class="card-header">
                    <b>Usage</b>
                </div>
                <div class="card-body" style="max-height: 250px; overflow: auto;">
                    <code id="{{displayCodeViewId}}" class="language-javascript">{{displayCode}}</code>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 j-data-display-col"></div>
    </div>
</script>
