<div id="loader-wrapper">
  <div id="loading-text">
    <div id="loading-user" class="d-none">Validating User</div>
    <div id="loading-sdk-init" class="d-none"><span>Initializaing Sdk</span></div>
    <div id="loading-workflow-subscriber" class="d-none"><span>Initializaing Workflow Subscriber</span></div>
    <div id="loading-setup-device" class="d-none">Performing SetupDevice Workflow</div>
  </div>
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>