#page-container {
  margin-bottom:60px;
  overflow: hidden;
}

.phantom-header {
  margin-top: 70px; 
}

body.sdk-init-error #page-container {
  margin-top: 100px; 
}

.j-wf-card-head {
  cursor: pointer;
}



#j-workflow-list, #workflow-wrap .col-12 {
  padding: 5px;
}

