<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/><link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.OstWalletSdkUrl %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.jsEndpoint %>/json-api.js"></script>
</head>
<body>
  <div id="replace-div">
    <script id="replace-demo" type="text/x-handlebars-template">
OstSdkWallet.{{function_name}}(
{{current_user_id}}
)
.then((result_type) => {
console.log( result_type);
})
.catch(({{err}}) => {
console.log(err);
});
    </script>
</div>
   
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="navbar-header">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a class="navbar-brand" href="#">
            <img src="https://cryptologos.cc/logos/ost-ost-logo.png?v=001" alt="Logo" style="width:40px;"></a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="users">USERS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active-page" href="json-api" style="color:#FFFFFF;">JSON API</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sdk-getters">GETTERS</a>
        </li>
        
        
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button id="logOutBtn" class="logOut logOutBtn  btn btn-default my-2 my-sm-0 logOutBtn" style="float:right" name="btn">LOG OUT</button>
    </form>
    
  </div>
  </div>
  </nav>
  
  <div class="container" style="margin-top:100px">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link"    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              getCurrentDeviceForUserId
            </button>
            
            <button class="btn btn-link" style="float: right;" id="get-cur-device"   data-target='#collapseOne' aria-expanded="true" aria-controls="collapseOne">
              Retry
          </button>
          </h5>
          
        </div>
    
        <div id="collapseOne"  aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            
            <div id="content">
              <div id="left1" style="float:left" class="scroll">
                  <script id="handlebar-main1" type="text/x-handlebars-template">
                     <pre  class="language-javascript" align="left">
                        <code  class="javascript">
                          {{replace}}
                        </code>
                      </pre>
                  </script>
              </div>
            
              <div id="right" style="float:right" class="scroll">
                <pre id="json-renderer"></pre>
              </div>
              <br style="clear:both;"/>
          </div>
          </div>
        
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed"    data-target="#collapseTwo"  aria-expanded="true" aria-controls="collapseTwo">
              getBalanceWithPricePointForUserId
            </button>
            <button class="btn btn-link" style="float: right;" id="balance-wpp"   data-target='#collapseTwo' aria-expanded="true" aria-controls="collapseOne">
              Retry
          </button>
          </h5>
        </div>
        <div id="collapseTwo"  aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            
            <div id="content">
              <div id="left2" style="float:left" class="scroll">
                  <script id="handlebar-main2" type="text/x-handlebars-template">
                     <pre  class="language-javascript" align="left">
                        <code  class="javascript">
                          {{replace}}
                        </code>
                      </pre>
                  </script>
              </div>
            
              <div id="right" style="float:right" class="scroll">
                <pre id="json-renderer-bal-pp"></pre>
              </div>
              <br style="clear:both;"/>
          </div>
          </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed"    data-target="#collapseThree"  aria-expanded="true" aria-controls="collapseThree">
              getBalanceForUserId
            </button>
            <button class="btn btn-link" style="float: right;" id="bal-uid"   data-target='#collapseThree' aria-expanded="true" aria-controls="collapseOne">
              Retry
          </button>
          </h5>
        </div>
        <div id="collapseThree"  aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            
            <div id="content">
              <div id="left3" style="float:left" class="scroll">
                  <script id="handlebar-main3" type="text/x-handlebars-template">
                      
                      <pre  class="language-javascript" align="left">
                        <code  class="javascript">
                          {{replace}}
                        </code>
                      </pre>
                  </script>
              </div>
            
              <div id="right" style="float:right" class="scroll">
                <pre id="json-renderer-bal-id"></pre>
              </div>
              <br style="clear:both;"/>
          </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed"    data-target="#collapseFour"  aria-expanded="true" aria-controls="collapseThree">
              getPricePointForUserId
            </button>
            <button class="btn btn-link" style="float: right;" id="pp-uid"   data-target='#collapseFour' aria-expanded="true" aria-controls="collapseOne">
              Retry
          </button>
          </h5>
        </div>
        <div id="collapseFour"  aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            
            <div id="content">
              <div id="left4" style="float:left" class="scroll">
                  <script id="handlebar-main4" type="text/x-handlebars-template">
                      
                      <pre  class="language-javascript" align="left">
                        <code  class="javascript">
                          {{replace}}
                        </code>
                      </pre>
                  </script>
              </div>
            
              <div id="right" style="float:right"class="scroll">
                <pre id="json-renderer-pp-id"></pre>
              </div>
              <br style="clear:both;"/>
          </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed"   data-target="#collapseFive"  aria-expanded="true" aria-controls="collapseThree">
              getPendingRecoveryForUserId
            </button>
            <button class="btn btn-link" style="float: right;" id="recovery-uid"    data-target='#collapseFive' aria-expanded="true" aria-controls="collapseOne">
              Retry
          </button>
          </h5>
        </div>
        <div id="collapseFive"  aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            
            <div id="content">
              <div id="left5" style="float:left" class="scroll">
                  <script id="handlebar-main5" type="text/x-handlebars-template">
                      
                      <pre  class="language-javascript" align="left"><code  class="javascript">
                          {{replace}}

                         
                      </code>
                  
                      </pre>
                  
                  </script>
              </div>
            
              <div id="right" style="float:right" class="scroll">
                <pre id="json-renderer-recovery"></pre>
              </div>
              <br style="clear:both;"/>
          </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed"    data-target="#collapseSix"  aria-expanded="true" aria-controls="collapseSix">
              getDeviceListForUserId
            </button>
            <button class="btn btn-link" style="float: right;" id="dev-list-uid"   data-target='#collapseSix' aria-expanded="true" aria-controls="collapseOne">
              Retry
          </button>
          </h5>
        </div>
        <div id="collapseSix"  aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            
            <div id="content">
              <div id="left6" style="float:left"class="scroll">
                  <script id="handlebar-main6" type="text/x-handlebars-template">
                      
                      <pre  class="language-javascript" align="left"><code  class="javascript">
                          {{replace}}
                        </code>
                      </pre>
                  </script>
              </div>
            
              <div id="right" style="float:right" class="scroll">
                <pre id="json-renderer-dev-list"></pre>
              </div>
              <br style="clear:both;"/>
          </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed"    data-target="#collapseSeven"  aria-expanded="true" aria-controls="collapseSeven">
              getTransactionsForUserId
            </button>
            <button class="btn btn-link" style="float: right;" id="transactions-uid"   data-target='#collapseSeven' aria-expanded="true" aria-controls="collapseOne">
              Retry
          </button>
          </h5>
        </div>
        <div id="collapseSeven"  aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            
            <div id="content">
              <div id="left7" style="float:left"class="scroll">
                  <script id="handlebar-main7" type="text/x-handlebars-template">
                    <pre  class="language-javascript" align="left"><code  class="javascript">
                          {{replace}}
                          </code>
                      </pre>
                  </script>
              </div>
            <div id="right" style="float:right" class="scroll">
                <pre id="json-renderer-transaction"></pre>
              </div>
              <br style="clear:both;"/>
          </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  </body>
</html>