<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1 class="display-3"><%= htmlWebpackPlugin.options.title %></h1>
    <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
    <img src="https://source.unsplash.com/300x400/?nature,water" class="img-fluid rounded float-left pr-2" />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla commodo purus, at mattis nibh dignissim sit amet. Ut hendrerit magna tortor, nec egestas justo lacinia vel. Ut nisi risus, condimentum at purus in, cursus eleifend ante. Proin scelerisque nulla quam. Aenean urna tellus, cursus in lorem sed, tempor dictum lorem. Quisque quis elit vitae nulla scelerisque porttitor. Integer eget nibh sollicitudin arcu fringilla sagittis. Vestibulum gravida augue et felis congue lobortis. Pellentesque at arcu elit. Fusce varius massa sit amet nisl scelerisque, nec commodo mi condimentum.
    </p>
    <p>
        Fusce sagittis tincidunt auctor. Morbi vitae varius eros. Sed sit amet sapien sit amet velit tempus aliquet id aliquam purus. Sed volutpat, arcu sit amet placerat convallis, turpis dolor pretium enim, sed fringilla urna felis ut diam. Pellentesque euismod a sapien quis sagittis. Sed pellentesque placerat turpis quis scelerisque. Pellentesque pellentesque felis ac nibh efficitur consequat. Sed tincidunt, velit nec ornare vehicula, est purus ornare ligula, elementum bibendum quam diam non odio. Quisque malesuada, ligula at porta tristique, quam libero vulputate libero, ut laoreet mauris orci eget metus. Praesent sagittis vulputate ex, sed laoreet orci dignissim eu. Ut non mi lacinia, venenatis odio et, condimentum ligula.
    </p>
    <p>
        Aliquam malesuada leo nulla, ut vulputate nisi iaculis nec. Nulla sed ipsum vitae magna iaculis ultricies vel in sem. Sed dictum consequat lectus, consectetur euismod lacus lacinia ac. Nunc et leo cursus, egestas lacus eget, molestie nulla. Vestibulum magna lectus, laoreet id ultrices in, semper vitae tortor. Pellentesque non nulla in velit rhoncus vestibulum. Nulla faucibus nulla augue, at sodales dui lobortis egestas. Curabitur dapibus elit sed velit volutpat interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel arcu ac enim consequat rutrum et id quam. Vestibulum scelerisque mollis sem, eget dictum nulla suscipit quis. Nulla vel eros sit amet justo egestas aliquam et a leo. Pellentesque at consectetur tellus, a pulvinar magna. Donec vestibulum interdum velit ut ultricies. Cras urna diam, feugiat vel auctor auctor, posuere et quam.
    </p>
    <iframe src="http://localhost:9001/" width="100%" height="200"></iframe>
</div>
</body>
</html>
