<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>   
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function() {

        $("#signupBtn").click(function () {
            $.post("/demo/api/1129/3213e2cfeed268d4ff0e067aa9f5f528d85bdf577e30e3a266f22556865db23a/login",
                {

                    username: document.getElementById("usernameTb").value,
                    password: document.getElementById("password").value

                },
                function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                   // Make another api call to fetch current user info.
                    $.ajax({
                        type: 'GET',
                        url: '/demo/api/1129/3213e2cfeed268d4ff0e067aa9f5f528d85bdf577e30e3a266f22556865db23a/users',
                        data: {
                            // username: document.getElementById("usernameTb").value,
                            // password: document.getElementById("password").value
                        },
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (jsonData) {

                            alert(jsonData.data.users[0].username);
                            console.log(jsonData.data.users[0].token_id);
                            uploadUserData(jsonData);




                        },
                        error: function (error) {
                            alert('Error loading username=' + document.getElementById("usernameTb").value + error);
                        }
                    });
                });
        });
    })
    function uploadUserData(jsonData) {
        console.log("user data is going to be add in this function")

        document.getElementById("signUpForm").innerHTML = "";
        document.getElementById("icon").innerHTML = "";

        var table = document.getElementById("usersTable");
        table.setAttribute("border","1");

        table.setAttribute("cellpadding","20");
        table.setAttribute("cellspacing","5");

        for(i=0 ; i<10 ; i++){
            var row = table.insertRow(i);

            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);

            cell1.innerHTML = i;

            cell2.innerHTML = jsonData.data.users[i].username;
            cell2.setAttribute("colspan",10);
            cell3.innerHTML = "Balance=0";
            cell3.setAttribute("colspan",10);
           


        }

    }
</script>
<h1 class="display-3"><%= htmlWebpackPlugin.options.title %></h1>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://cdn.dribbble.com/users/12/screenshots/4188789/ost.jpg" id="icon" alt="User Icon" />
        </div>
        <div id="usersData">
            <table id="usersTable"></table>
        </div>
        <!-- Login Form -->
        <div id="signUpForm" name="signUp">
            
            <input type="text" id="usernameTb" class="fadeIn second" name="username" placeholder="Username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" id="signupBtn" class="fadeIn fourth" value="Log In">
        </div>

        <!-- Remind Passowrd -->


    </div>
</div>
   

<!--    <iframe src="http://localhost:9001/" width="100%" height="200"></iframe>-->
</div>
</body>
</html>
