    
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://localhost:9000/Mappy.js"></script>
    <script type="text/javascript" src="http://localhost:9090/OstWalletSdk.js"></script>
</head>
<body>
    <div class="container">
        <div class="wrapper fadeIn first ">
    <h1 class="display-3"><%= htmlWebpackPlugin.options.title %></h1>
    <div id="usersData" class="table-responsive panel panel-default" style="overflow-x:auto;">
                
        <table id="usersTable"  class ="table" style="width: 100%; height: 100%;">
        </table>
    
    </div>
</div>
</div>
    <div class="container">
   

    <div class="wrapper fadeInDown ">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="https://cdn.dribbble.com/users/12/screenshots/4188789/ost.jpg" id="icon" alt="User Icon" />
            </div>
            
            <div id="buttonDiv">    

            </div>
            <div id="signUpForm" name="signUp">

                <input type="text" id="usernameTb" class="fadeIn second" name="username" placeholder="Username">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" id="signupBtn" class="fadeIn fourth" value="Log In">
            </div>
           

        </div>
    </div>
</div>


</body>
</html>



