<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript" src="http://localhost:9090/ost-sdk-iframe-script.js"></script>
</head>
<body>
<div class="container">
    <h1 class="display-3"><%= htmlWebpackPlugin.options.title %></h1>
    <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
</div>
</body>
</html>
